<!-- Bottom Navigation (독립 HTML) -->
<link rel="stylesheet" href="/css/bottom_nav.css">
<nav class="bottom-nav">
  <a href="#" onclick="event.preventDefault(); window.location.replace('/explore')" target="_parent" class="nav-item active">
    <img src="images/bottom_nav/explore.png" alt="Explore">
    <span>explore</span>
  </a>
  <a href="#" onclick="event.preventDefault(); window.location.replace('/post')" target="_parent" class="nav-item">
    <img src="images/bottom_nav/post.png" alt="Post">
    <span>post</span>
  </a>
  <a href="#" onclick="event.preventDefault(); window.location.replace('/rank')" target="_parent" class="nav-item">
    <img src="images/bottom_nav/rank.png" alt="Rank">
    <span>rank</span>
  </a>
  <a href="#" onclick="event.preventDefault(); window.location.replace('/profile')" target="_parent" class="nav-item">
    <img src="images/bottom_nav/profile.png" alt="Profile">
    <span>profile</span>
  </a>
</nav>
