<!-- partials/image_modal.ejs -->
<link rel="stylesheet" href="/css/image_modal.css">

<div id="image-modal" class="image-modal-overlay" onclick="closeImageModal()">
  <img id="image-modal-img" src="" alt="확대 이미지" />
</div>