<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore</title>
  <link rel="stylesheet" href="/css/explore.css">
</head>
<body>
  <div class="container">
    <h2 style="padding-top: 2rem;">반 선택</h2>
    <div class="grid">
      <% classes.forEach((data) => { %>
      <div class="card"><div class="label"><%= data.class_id %></div><div class="sub"><%= data.total_count %>장</div></div>
      <% }) %>
    </div>
  </div>
  <%- include('partials/bottom_nav') %>
  <script src="/js/explore.js"></script>
</body>
</html>
